<!-- Header -->
<header class="primary-header container group">
  <h1 class="" logo>
    <a href="/">DESIGN <br> CONFERENCE</a>
  </h1>
  <h3 class="tagline">October 25-28--Lagos, NG</h3>

  <nav class="nav primary-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <!--
             -->
      <li><a href="/speaker">Speakers</a></li>
      <!--
             -->
      <li><a href="/schedule">Schedule</a></li>
      <!--
             -->
      <li><a href="/venue">Venue</a></li>
      <!--
             -->
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>
</header>